<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言 | TGIF 臺北設計電波</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ setuuid("/static/CSS/miceplug.css") }}"">
</head>

<body>
    <div class="loading">
        <div class="spinner-border text-light" role="status" style="position: fixed; top:47%; left:47%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="name">留言給 {{name}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <textarea class="form-control" name="comment" id="comment" cols="30" rows="5"></textarea>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary btn-lg btn-block" id="send">送出</button>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12">
                <div id="comment_list" class="list-group">
                    {%for comment in output%}
                    <div class="list-group-item">
                        <div class="justify-content-between d-flex w-100">
                            <strong class="mb-1">{{comment["name"]}}</strong>
                            <small>{{comment["time"]}}</small>
                        </div>

                        <div class="mb-1">
                            <p>{{comment["content"]}}</p>
                        </div>

                    </div>
                    <!-- list-group-item end -->
                    {%endfor%}

                </div>
                <!-- comment_list end -->

            </div>
        </div>
    </div>
    

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="{{ setuuid("/static/JS/miceplug.js") }}"></script>
</body>

</html>