<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>找人 | TGIF 臺北設計電波</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        html, body{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

        }

        .loading {
            width: 100vw;
            height: 100vh;
            z-index: 9999;

            background: black;
            opacity: .8;

            position: fixed;

            display: none;
        }
    </style>
</head>

<body>
    <div class="loading">
        <div class="spinner-border text-light" role="status" style="position: fixed; top:47%; left:47%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="form-text text-muted">請輸入欲查詢對象的個人編號：</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">#</span>
                    </div>
                    <input type="text" class="form-control" id="findId" inputmode="numeric" pattern="[0-9]*" size="4" maxlength="5" style="font-size:20px" />
                </div>
            </div>    
        </div>

        <br>

        <div class="row">
            <div class="col-12">
                <button id="send" class="btn btn-block btn-primary btn-lg">查詢</button>
            </div>
        </div>
        
    </div>
    

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="{{ setuuid("/static/JS/miceplug.js") }}"></script>
</body>

</html>