{% extends "base.html" %}

{% block content %}
<div class="loading">
    <div class="spinner-border text-light" role="status" style="position: fixed; top:47%; left:47%">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="use-flexbox">
    <div class="container col-12">
        <div class="row">
            <div class="text-center">
                <h1>{{title}}</h1>
                <small class="form-text text-muted">請輸入四位數驗證碼{% if g.config['allow_signup'] %}，或點擊<a
                        href="/signup">此連結</a>註冊。{% endif %}</small>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <form id="idform">
                    <div class="row">
                        <input type="text" class="col-3 form-control" id="id_no1" maxlength=1>
                        <input type="text" class="col-3 form-control" id="id_no2" maxlength=1>
                        <input type="text" class="col-3 form-control" id="id_no3" maxlength=1>
                        <input type="text" class="col-3 form-control" id="id_no4" maxlength=1>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button id="login" class="btn btn-primary btn-block btn-lg">Login</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}