<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>註冊 | TGIF 臺北設計電波</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div>
        <h1>報名</h1>
        <form id="signupForm" class="submit" encType="multipart/form-data">
            <input name="name" id="signUpName" placeholder="姓名"><br>
            <input name="email" id="signUpEmail" type="email" placeholder="信箱"><br>
            <input name="job" id="signUpJob" placeholder="工作"><br>
            <textarea name="intro" id="signUpIntro" placeholder="自我介紹" cols="30" rows="10"></textarea><br>
            <input name="link" id="signUpLink" placeholder="個人作品連結(http://)"><br>
            <input name="tag1" id="signUpTag1" placeholder="標籤1"><br>
            <input name="tag2" id="signUpTag2" placeholder="標籤2"><br>
            <input name="tag3" id="signUpTag3" placeholder="標籤3"><br>
            <label class="button border black padding opacity round center">
                <input type="file" accept=".png,.jpg,.bmpＦ" name="images" class="upload" style="display:none"></input>
                <h7>CHOOSE FILE</h7>
            </label>
            <div id="previews">
                <img id="previewIMG" class="padding" height='200'>
            </div>
        </form>
    </div>
    <button id="send">送出</button>



    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="/static/JS/signup.js"></script>
    <script src="/static/JS/imagePreview.js"></script>
</body>

</body>

</html>